@page "/"

<PageTitle>Index</PageTitle>

<h1>Book Library - Demo</h1>

Welcome to the Library demo, powered by Azure SQL and <a href="https://aka.ms/dab" target="_blank">Data API builder</a>.<br><br>