@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://aka.ms/sqldev" target="_blank">Azure SQL - Developer resources</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
